/** @define conversions-chart */

.conversions-chart__display-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 700px;
}

.conversions-chart__display-controls-data {
  display: flex;
  gap: 8px;
}

.conversions-chart__display-controls-visual {
  display: flex;
  gap: 20px;
}

.conversions-chart__controls {
  display: inline-flex;
  gap: 8px;
  position: relative;
  z-index: 2;
}

.conversions-chart__controls--fullscreen {
  position: fixed;
  top: 12px;
  right: 12px;
}

.conversions-chart__control-btn {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chart-controls-bg-color);
}

.conversions-chart__control-btn:not(.conversions-chart__control-btn--reset) {
  border: 1px solid var(--chart-controls-border-color);
}

.conversions-chart__control-btn--fullscreen {
  border-radius: 4px;
}

.conversions-chart__control-btn--export {
  border-radius: 4px;
}

.conversions-chart__zoom-group {
  display: inline-flex;
  overflow: hidden;
}

.conversions-chart__control-btn--zoom-out {
  border-radius: 4px 0 0 4px;
}

.conversions-chart__control-btn--zoom-in {
  border-radius: 0 4px 4px 0;
}

.conversions-chart__control-btn--reset {
  border: none;
}

.conversions-chart__wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  max-width: 700px;
  max-height: 70vh;
  aspect-ratio: 1.618;
}

.conversions-chart__wrapper--fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 100vw;
  max-height: 100vh;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.recharts-surface {
  outline: none !important;
}