:root {
  --bg-color: #fff;
  --axis-lines-color: #E1DFE7;
  --axis-label-color: #998f9a;
  --chart-data-color: #52515B;
  --main-text-color: #1B1B23;
  --tooltip-border-color: #E1DFE7;
  --tooltip-shadow: 0 6px 16px rgb(0 0 0 / 12%);
  --border-dashed-color: #E1DFE7;
  --chart-controls-bg-color: transparent;
  --chart-controls-border-color: #E1DFE7;
  --chart-display-controls-select: #C7C5D0;
  --scrollbar-track: #f5f5f5;
  --scrollbar-thumb: #ccc;
  --scrollbar-thumb-hover: #b3b3b3;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-color: #000027;
  --axis-lines-color: transparent;
  --axis-label-color: #918F9A;
  --chart-data-color: #e4e3e7;
  --main-text-color: #ddd;
  --tooltip-border-color: #446;
  --tooltip-shadow: 0 6px 16px rgb(0 0 0 / 50%);
  --border-dashed-color: #446;
  --chart-controls-bg-color: transparent;
  --chart-controls-border-color: #446;
  --chart-display-controls-select: #446;
  --scrollbar-track: #000027;
  --scrollbar-thumb: #446;
  --scrollbar-thumb-hover: #5a5a80;
  }
}